table{
    border-collapse: collapse;
}
.del,.edit,.info{background: transparent;
border: none;padding: 10px 15px;transition-duration: 150ms;
}
.del{background-color: red;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;}
.info{background-color: skyblue;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;}
.edit{background-color: rgb(0, 255, 8);
 }
 tr:hover{
    
    background-color: lightgray;
    transition-duration: 100ms
 }
 .nottr{
    background-color: gray;
    padding: 100px;

 }
 .nottr:hover{background-color: gray;
}
.del:hover,.edit:hover,.info:hover{
    transform: scale(1.1);
}
thead{
 height: 50px;
 
}
