/* *{
    margin: 0;
    padding: 0;
}
dialog{
    margin: auto;
    width: 400px;
    height: 500px;
    outline: none;
    border: none;
    text-align: center;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}
.btnOpen{
    width: 130px; 
    height: 43px; 
    border: none; 
    background-color: deepskyblue; 
    color: white; 
    border-radius: 10px; 
    margin: 100px;
}
.exit{
    width: 130px; 
    height: 43px; 
    border: none; 
    background-color: deepskyblue; 
    color: white; 
    border-radius: 10px; 
    margin: 100px;
    font-size: 30px;
} */