*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(223, 244, 243);
}
table{
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 60%;
    background-color: white;
    border-collapse: collapse; 
}
th{
    background-color: blue;
    color: white;
    padding: 10px;
}
td{
    border-bottom: 1px solid gray;
}
button{
    background-color: blue;
    padding: 10px;
    border-radius: 6px;border: none;
    color: white;
}
.addModal{
    margin: auto;
    padding: 20px;
    width: 20%;
}
td{
    padding: 10px;
    text-align: center;
}