.trTable{
    border: 1px solid gray;
    border-radius: 10px;  
    padding: 5px; 
}
.table{
    border: 2px solid gray; 
    border-radius: 10px; 
    border-collapse: collapse;
}
.icon{
    width: 30px;
    height: 30px;
}