.main{
    display: flex;
    align-items: start;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.check{
    width: 20px;
    height: 20px;
}

.container{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.texts{
    text-align: center;
}

.imgSoft{
    width: 300px;
}